
    <div class="row text-center py-4" style="background-color: #204897;">
        <h2 class="text-white">{{ title}}</h2>
    </div>
    <main class="container ">

        <article class="row">
            <div class="row my-5">
                <div class="col-4">
                    <h3 class="fw-bold">Payment Partners</h3>
                    <div class="fw-medium">We are partnering with the most reliable payment service providers to make sure every transaction is smooth and worry-free!</div>
                </div>
                <div class="col-6">
                    <img src="images/pay-1.webp" alt="" class="col-1.5" >
                    <img src="images/pay-2.webp" alt="" class="col-1.5" >
                    <img src="images/pay-3.webp" alt="" class="col-1.5" >
                    <img src="images/pay-4.webp" alt="" class="col-1.5" >
                    <img src="images/pay-5.webp" alt="" class="col-1.5" >
                    <img src="images/pay-6.webp" alt="" class="col-1.5" >
                    <img src="images/pay-7.webp" alt="" class="col-1.5" >
                    <img src="images/pay8.webp" alt="" class="col-1.5" >
                    <img src="images/pay-9.webp" alt="" class="col-1.5" >
                    <img src="images/pay-10.webp" alt="" class="col-1.5" >
                    <img src="images/pay-11.webp" alt="" class="col-1.5" >
                    <img src="images/pay-12.webp" alt="" class="col-1.5" >
                </div>
            </div>
            <div class="row my-5">
                <div class="col-4">
                    <h3 class="fw-bold">Hotel Partners</h3>
                    <div class="fw-medium">We are partnering with hotel chains across the globe to ensure a comfortable stay wherever you travel!</div>
                </div>
                <div class="col-6">
                    <img src="images/hol-1.webp" alt="" class="col-1.5" >
                    <img src="images/hol-2.webp" alt="" class="col-1.5" >
                    <img src="images/hol-3.webp" alt="" class="col-1.5" >
                    <img src="images/hol-4.webp" alt="" class="col-1.5" >
                    <img src="images/hol-5.webp" alt="" class="col-1.5" >
                    <img src="images/hol-6.webp" alt="" class="col-1.5" >
                    <img src="images/hol-7.webp" alt="" class="col-1.5" >
                    <img src="images/hol8.webp" alt="" class="col-1.5" >
                    <img src="images/hol-9.webp" alt="" class="col-1.5" >
                    <img src="images/hol-10.webp" alt="" class="col-1.5" >
                    <img src="images/hol-11.webp" alt="" class="col-1.5" >
                    <img src="images/hol-12.webp" alt="" class="col-1.5" >
                    <img src="images/hol-13.webp" alt="" class="col-1.5" >
                    <img src="images/hol-14.webp" alt="" class="col-1.5" >
                    <img src="images/hol-15.webp" alt="" class="col-1.5" >
                    <img src="images/hol-16.webp" alt="" class="col-1.5" >
                </div>
            </div>
            <div class="row my-5">
                <div class="col-4">
                    <h3 class="fw-bold">Airline Partners</h3>
                    <div class="fw-medium">We are partnering with various airlines across the globe to get you to wherever you need to be.</div>
                </div>
                <div class="col-6">
                    <img src="images/air-1.webp" alt="" class="col-1.5" >
                    <img src="images/air-2.webp" alt="" class="col-1.5" >
                    <img src="images/air-3.webp" alt="" class="col-1.5" >
                    <img src="images/air-4.webp" alt="" class="col-1.5" >
                    <img src="images/air-5.webp" alt="" class="col-1.5" >
                    <img src="images/air-6.webp" alt="" class="col-1.5" >
                    <img src="images/air-7.webp" alt="" class="col-1.5" >
                    <img src="images/air-8.webp" alt="" class="col-1.5" >
                    <img src="images/air-9.webp" alt="" class="col-1.5" >
                    <img src="images/air-10.webp" alt="" class="col-1.5" >
                    <img src="images/air-11.webp" alt="" class="col-1.5" >
                    <img src="images/air-12.webp" alt="" class="col-1.5" >
                </div>
            </div>
            <div>
                <h2 class="my-3">Start a Partnership in 4 Easy Steps</h2>
            </div>
            <div class="row mb-5">
                <div class="col-3 text-center">
                    <img src="images/pat-1.webp" alt="" width="200px">
                    <h4>Express your interest</h4>
                    <div class="fw-medium text-secondary">Reach us through one of our partnership PICs or send an email to partnership@luxury.com.</div>
                </div>
                <div class="col-3 text-center">
                    <img src="images/pat-2.webp" alt="" width="200px">
                    <h4>Let’s discuss</h4>
                    <div class="fw-medium text-secondary">Explore & then decide on the partnership scheme that best suit your needs.</div>
                </div>
                <div class="col-3 text-center">
                    <img src="images/pat-3.webp" alt="" width="200px">
                    <h4>Set up the partnership program</h4>
                    <div class="fw-medium text-secondary">Finalize & sign the partnership agreement, so we can begin setting up the program.</div>
                </div>
                <div class="col-3 text-center">
                    <img src="images/pat-4.webp" alt="" width="200px">
                    <h4>Partnership program is now live!</h4>
                    <div class="fw-medium text-secondary">Time to let the magic of our partnership happen.</div>
                </div>
            </div>
        </article>

    </main>
