
    <div class="row text-center py-4" style="background-color: #204897;">
        <h2 class="text-white">{{ title}}</h2>
    </div>
    <main class="container ">

        <article class="row">
            <div class="col-3 me-5">
                <h5 class="my-4">Other Accommodations in Hanoi</h5>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Villas in Hanoi</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Apartments in Hanoi</a></div>

                <h5 class="my-4">Other star hotels in Hanoi</h5>
                <div><a class="fs-6 text-primary nav-link fw-semibold">5-star hotels in Hanoi</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">4-star hotels in Hanoi</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">3-star hotels in Hanoi</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">2-star hotels in Hanoi</a></div>

                <h5 class="my-4">Other hotels in Hanoi</h5>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Luxury hotels in Hanoi</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Best hotels in Hanoi</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Cheap hotels in Vietnam</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Cheap hotels in Hanoi</a></div>

                <h5 class="my-4">Hotels near popular landmarks</h5>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotels near Presidential Palace</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotels near Noi Bai International Airport (HAN)</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotels near Lake of the Restored Sword (Hoan Kiem Lake)</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotels near Tran Quoc Pagoda</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotels near Perfume Pagoda</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotels near Thong Nhat Park</a></div>

                <h5 class="my-4">Hotels in other areas</h5>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotel in Da Nang</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotel in Can Tho City</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotel in Hai Phong City</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotel in Phu Yen Province</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotel in Ca Mau Province</a></div>
                <div><a class="fs-6 text-primary nav-link fw-semibold">Hotel in Ca Mau Province</a></div>

                </div>
            <div class="col-8 my-4">
                <div><h3>Popular hotels in Hanoi</h3></div>

                <div class="row my-4 border p-3">
                    <img src="images/hotel-1.webp" alt="" class="col-2">
                    <div class="col-10">
                        <h5 class="mb-3">Melia Bavi Mountain Retreat</h5>
                        <div class="fs-6 text-secondary fw-semibold my-2" > ⭐⭐⭐⭐⭐ 4.8/5</div>
                        <div class="fs-6 text-secondary fw-semibold" > 🗺️Ba Vi Commune, Ba Vi District</div>
                        <div class="fs-6 text-primary fw-semibold"> Impressive 8.7 (58 Reviews)</div>
                        <div class="row"><div class="col-9"></div><h3 class="fs-5 text-white btn btn-primary fw-semibold col-3">See price</h3></div>
                    </div>
                </div>

                <div class="row  my-4 border p-3">
                    <img src="images/hotel-2.webp" alt="" class="col-2">
                    <div class="col-10">
                        <h5 class="mb-3">Westlake Home Hotel and Spa</h5>
                        <div class="fs-6 text-secondary fw-semibold my-2" > ⭐⭐⭐⭐ 3.8/5</div>
                        <div class="fs-6 text-secondary fw-semibold" > 🗺️
                            Yen Phu Ward, Tay Ho District</div>
                        <div class="fs-6 text-primary fw-semibold"> Impressive 8.7 (58 Reviews)</div>
                        <div class="row"><div class="col-9"></div><h3 class="fs-5 text-white btn btn-primary fw-semibold col-3">See price</h3></div>
                    </div>
                </div>

                <div class="row  my-4 border p-3">
                    <img src="images/hotel-3.webp" alt="" class="col-2">
                    <div class="col-10">
                        <h5 class="mb-3">The Queen Hotel & Spa</h5>
                        <div class="fs-6 text-secondary fw-semibold my-2" > ⭐⭐⭐ 3.1/5</div>
                        <div class="fs-6 text-secondary fw-semibold" > 🗺️Hang Bo Ward, Hoan Kiem District</div>
                        <div class="fs-6 text-primary fw-semibold"> Impressive 8.7 (58 Reviews)</div>
                        <div class="row"><div class="col-9"></div><h3 class="fs-5 text-white btn btn-primary fw-semibold col-3">See price</h3></div>
                    </div>
                </div>

                <div class="row  my-4 border p-3">
                    <img src="images/hotel-4.webp" alt="" class="col-2">
                    <div class="col-10">
                        <h5 class="mb-3">Church Legend Hotel Hanoi</h5>
                        <div class="fs-6 text-secondary fw-semibold my-2" > ⭐⭐⭐⭐⭐ 4.8/5</div>
                        <div class="fs-6 text-secondary fw-semibold" > 🗺️Hang Trong Ward, Hoan Kiem District</div>
                        <div class="fs-6 text-primary fw-semibold"> Impressive 8.7 (58 Reviews)</div>
                        <div class="row"><div class="col-9"></div><h3 class="fs-5 text-white btn btn-primary fw-semibold col-3">See price</h3></div>
                    </div>
                </div>

                <div class="row  my-4 border p-3">
                    <img src="images/hotel-5.webp" alt="" class="col-2">
                    <div class="col-10">
                        <h5 class="mb-3">Diamond Legend Hotel</h5>
                        <div class="fs-6 text-secondary fw-semibold my-2" > ⭐⭐⭐⭐ 4.2/5</div>
                        <div class="fs-6 text-secondary fw-semibold" > 🗺️Tran Hung Dao Ward, Hoan Kiem District</div>
                        <div class="fs-6 text-primary fw-semibold"> Impressive 8.7 (58 Reviews)</div>
                        <div class="row"><div class="col-9"></div><h3 class="fs-5 text-white btn btn-primary fw-semibold col-3">See price</h3></div>
                    </div>
                </div>


                <div class="row  my-4 border p-3">
                    <img src="images/hotel-6.webp" alt="" class="col-2">
                    <div class="col-10">
                        <h5 class="mb-3">Millennium Hanoi Hotel</h5>
                        <div class="fs-6 text-secondary fw-semibold my-2" > ⭐⭐⭐⭐⭐ 4.8/5</div>
                        <div class="fs-6 text-secondary fw-semibold" > 🗺️Cua Nam Ward, Hoan Kiem District
                        </div>
                        <div class="fs-6 text-primary fw-semibold"> Impressive 8.7 (58 Reviews)</div>
                        <div class="row"><div class="col-9"></div><h3 class="fs-5 text-white btn btn-primary fw-semibold col-3">See price</h3></div>
                    </div>
                </div>


                <div class="row  my-4 border p-3">
                    <img src="images/hotel-7.webp" alt="" class="col-2">
                    <div class="col-10">
                        <h5 class="mb-3">Mayflower Hotel Hanoi</h5>
                        <div class="fs-6 text-secondary fw-semibold my-2" > ⭐⭐⭐⭐⭐ 4.8/5</div>
                        <div class="fs-6 text-secondary fw-semibold" > 🗺️Hang Ma Ward, Hoan Kiem District</div>
                        <div class="fs-6 text-primary fw-semibold"> Impressive 8.7 (58 Reviews)</div>
                        <div class="row"><div class="col-9"></div><h3 class="fs-5 text-white btn btn-primary fw-semibold col-3">See price</h3></div>
                    </div>
                </div>



            </div>
            <div class="row"><div class="col-6"></div><h3 class="fs-5 text-white btn btn-warning fw-semibold col-3" >See more</h3></div>
        
            

        </article>

    </main>

